<div *ngIf="(products$ | async) as products">
    <h2 *ngIf="products.length === 0">Por el moemnto no hayh productos selecionados</h2>
    <mat-horizontal-stepper *ngIf="products.length != 0">
        <mat-step>
            <ng-template matStepLabel>Sus productos</ng-template>
            <ul>
                <li *ngFor="let producto of products">
                    <h1>{{ producto.title }}</h1>
                </li>
            </ul>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Datos personales</ng-template>
            <h2>Contenido</h2>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Pago</ng-template>
            <h2>Contenido</h2>
        </mat-step>
    </mat-horizontal-stepper>
</div>



