<form action="" [formGroup]="form">
    <mat-form-field>
        <mat-label>ID</mat-label>
        <input placeholder="ID" formmatControlName="id" matInput type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input placeholder="Title" formmatControlName="title" matInput type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Price</mat-label>
        <input placeholder="Price" formmatControlName="price" matInput type="number">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Image</mat-label>
        <input placeholder="Image" formmatControlName="image" matInput type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea placeholder="Description" formmatControlName="description" matInput type=""></textarea>
    </mat-form-field>
</form>